* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
a {
    text-decoration: none; 
}
html {
    font-size: 16px;
}
header {
    position: relative;
}
#header-top {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}
#search-box {
    position: absolute;
    top: 0;
    left: 5%;
    width: 20%;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 16px;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
}
#search-box.active {
    transform: scaleY(1);
    opacity: 1;
}
#search-box #search {
    width: 100%;
    padding: 10px;
    text-transform: none;
    font-size: 16px;
}
#search-box label {
    font-size: 30px;
    color: black;
    padding-left: 16px;
    cursor: pointer;
}
#header-top .logo {
    font-size: 30px;
    color: black;
}
#header-top .search {
    width: 15%;
}
#header-top .icon {
    margin-right: 50px;
}
#header-top .icon a ,header .search i{
    font-size: 20px;
    color: black;
    padding-left: 20px;
    cursor: pointer;
}
#header-top .icon a:hover ,#header-top .search i:hover{
    color: red;
}
.navbar {
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: black;
}
.navbar li a:hover ,.footer-title a:hover ,.footer-end a:hover{
    color: red !important;
}
.carousel-caption {
    width:250px; 
    z-index:10; color:#fff; 
    text-align:center; top:50%; left:65%; 
    bottom:auto; 
    -webkit-transform:translate(0, -50%); 
    -ms-transform:translate(0, -50%); 
    transform:translate(0, -50%);
    color: black;
}
.megasubmenu {
    left: 100%;
    top: 0;
    min-height: 100%;
    min-width: 350px;
}
.dropdown-menu li:hover .megasubmenu {
    display: block;
    padding: 15px 0 0 15px;
}
.dropdown-menu li a {
    font-weight: 500;
}
.header-submenu {
    font-weight: 650;
    font-size: 15px;
}
.nav-link {
    color: white !important;
}
.list-unstyled li a{
    text-decoration: none;
    color: black;
}
footer {
    background-color: black;
    height: 230px;
    color: white;
}
.footer-title a ,.footer-end a {
    text-decoration: none;
    color: white;
} 





/* media */

@media screen and (max-width: 768px){
    html{
        font-size: 13px;
    }
    #search-box #search {
        font-size: 13px;
    }
    #search-box label {
        font-size: 13px;
    }
    #header-top .logo {
        font-size: 20px;
    }
    #header-top .icon a ,#header-top .search i{
        font-size: 16px;
    }
}
